{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sensor</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sensor.id }}</td>
            </tr>
            <tr>
                <th>Displayname</th>
                <td>{{ sensor.displayname }}</td>
            </tr>
            <tr>
                <th>Vendor</th>
                <td>{{ sensor.vendor }}</td>
            </tr>
            <tr>
                <th>Product</th>
                <td>{{ sensor.product }}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{ sensor.version }}</td>
            </tr>
            <tr>
                <th>Enable</th>
                <td>{% if sensor.enable %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sensor_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sensor_edit', { 'id': sensor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
